@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Navbar Styling */
.navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    /* background: crimson; */
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: lightblue;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: darkblue;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color:blue;
    transition: all 0.3s ease;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1600px;
    padding: 0 80px;
    margin: auto;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: darkblue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar.sticky .menu li a:hover{
    color: blue;
}
/* menu button styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* Home Section Styling */
.home {
    display: flex;
    background: url("img/cool-blue-5.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    min-height: 500px;
    background-attachment: fixed;
      /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .home-content .text-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin: auto;
    
}

.home .home-content .text-3 {
    font-size: 40px;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

/* Media Queries */
@media (max-width: 2800px){
    .calendar{
        width: 1300px;
    }
    
}
@media (max-width: 2200px){
    .calendar{
        width: 1100px;
    }
}
@media (max-width: 1900px){
    .calendar{
        width: 900px;
    }
}
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
    .judging .judging-content i{
        color: white;
    }
}
@media (max-width: 991px){
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .max-width {
        padding: 0 50px;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: skyblue;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
        
    }
    
    .home .home-content .text-3 {
        font-size: 35px; 
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .judging .judging-content i{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .max-width{
        max-width: 800px;
    }
    .judging .judging-content .column{
        width: 50%;
    }
}

@media (max-width: 690px){
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    
    .home .home-content .text-3 {
        font-size: 32px;
        
    }
}

@media (max-width: 500px){
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
        
    }
}
/* About Section Styling */

section {
    padding: 100px 0;
} 
.about {
    font-family: 'Poppins', sans-serif;
}
.about .title {
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.about .title::Before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 18px;
    text-align: justify;
}

/* Tournament Section Styling */

.tournaments {
    background-color: #5AB9EA;
}
.tournaments .title {
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
}
.tournaments .title::Before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 450px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.tournaments .tournaments-content{
    text-align: center;
}

/* Judging Section Styling */
.judging .title {
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #111;
}

.judging .title::Before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.judging .judging-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.judging .judging-content .left{
    width: 45%;
}

.judging .judging-content .right{
    width: 55%;
}

.judging .judging-content i{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.judging .judging-content .left i{
    font-size: 400px;
}

.judging .judging-content .right .text{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.judging-forms{
    color: black;
    text-decoration: underline;
    line-height: 60px;
}


/* contact section styling */

.contact {
    background-color: #004080;
    font-family: 'Poppins', sans-serif;
}
.contact .title {
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
}

.contact .title::Before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .left p {
    text-align: justify;
    color: #fff;
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #fff;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #fff;
}

.contact .right form .fields{
    display: flex;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    color: #fff;
    background: none;
}

/* footer styling */

footer {
    font-family: 'Poppins', sans-serif;
    padding: 15px 23px;
    text-align: center;
    background: darkblue;
    color: #fff;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  